.View-Customer-styles .modal-content {
  position: relative;
  left: 100px;
  height: 450px !important;
  width: 1000px !important;
  background-color: #f2f3f9;
  border-radius: 8px !important;
  display: flex !important;
  /* align-items: center !important; */
  justify-content: center !important;
  border: 1px solid #dcdde6;
  padding: 10px 5px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
}

.ViewCustomer-Modal-close-btn {
  font-size: 11px;
  border: none !important;
  right: 0px;
  font-size: 9px;
}

.view-Customer-Modal-footer {
  width: 100% !important;
  display: contents;
}

.Active-member {
  padding: 5px 10px;
  background-color: #019308 !important;
  font-size: 10px;
  color: #f2f3f9 !important;
  border-radius: 4px !important;
}

.Viewmodal-paper {
  border-radius: 2px;
  padding: 5px 10px !important;
  background-color: #ffffff !important;
}

.right-and-User-heading {
  font-size: 16px !important;
  color: #002650 !important;
  font-weight: 600 !important;
}

.timer-and-Nature-business-heading {
  font-size: 12px !important;
  color: #004990 !important;
}

.disable-field-Name {
  background-color: #dbdde7 !important;
}

.Textfield-Name {
  height: 40px !important;
  border-radius: 4px !important;
  color: #000 !important;
  border: 1px solid #e1e1e1 !important;
  background-color: white !important;
  font-size: 13px;
}
